body {
    background-color: lightcoral;
}

h1 {
   background-color: indianred;
   font-family: Arial;
   color: white;
}

h2 {
   background-color: indianred;
   font-family: Arial;
   color:white;
}

li {
   font-family: Arial;
   color: white;
}
